In [3]:
import pandas as pd
import time
import os
import numpy as np

In [4]:
#gwas_path = '/Users/jerenolsen/Desktop/All_Tests/LDpred2_Testing/GWAS_sum_stats/IDA-categorical-20002-both_sexes-1330.tsv'
test_path = '/Users/jerenolsen/Desktop/GWAS_Summary_Stats/categorical-20002-both_sexes-1330_first_100000.tsv'
gwas_path = '/Users/jerenolsen/Desktop/GWAS_Summary_Stats/GERD-icd10-K21-both_sexes.tsv'

In [5]:
def get_cols(filepath):
    line1 = None
    with open(filepath, 'r') as f:
        for line in f:
            line1 = line
            break        
            
    line1 = line1.strip('\n').split('\t')
            
    f.close()
    
    return line1

def get_types(filepath):
    col_line = None
    val_line = None
    
    df = pd.read_csv(filepath, nrows=3, sep='\t')

    cols = df.columns
    types = df.dtypes
    type_dict = {col:[dtype] for col,dtype in zip(cols,types)}

    df_types = pd.DataFrame.from_dict(type_dict)
    
    return df_types

In [6]:
df_types = get_types(gwas_path) #Recast these types later

In [7]:
df_types['chr'] = np.dtype(str)

In [8]:
type(df_types.loc[0]['ref'])

numpy.dtype[object_]

In [9]:
line1 = get_cols(gwas_path)
cols = line1
cols_to_keep = [col for col in line1 if 'AFR' not in col and 'CSA' not in col and 'meta' not in col and 'MID' not in col and 'EAS' not in col and 'AMR' not in col]
dtype = {col:str for col in cols}

In [10]:
cols

['chr',
 'pos',
 'ref',
 'alt',
 'af_cases_meta_hq',
 'af_controls_meta_hq',
 'beta_meta_hq',
 'se_meta_hq',
 'neglog10_pval_meta_hq',
 'neglog10_pval_heterogeneity_hq',
 'af_cases_meta',
 'af_controls_meta',
 'beta_meta',
 'se_meta',
 'neglog10_pval_meta',
 'neglog10_pval_heterogeneity',
 'af_cases_AFR',
 'af_cases_AMR',
 'af_cases_CSA',
 'af_cases_EAS',
 'af_cases_EUR',
 'af_cases_MID',
 'af_controls_AFR',
 'af_controls_AMR',
 'af_controls_CSA',
 'af_controls_EAS',
 'af_controls_EUR',
 'af_controls_MID',
 'beta_AFR',
 'beta_AMR',
 'beta_CSA',
 'beta_EAS',
 'beta_EUR',
 'beta_MID',
 'se_AFR',
 'se_AMR',
 'se_CSA',
 'se_EAS',
 'se_EUR',
 'se_MID',
 'neglog10_pval_AFR',
 'neglog10_pval_AMR',
 'neglog10_pval_CSA',
 'neglog10_pval_EAS',
 'neglog10_pval_EUR',
 'neglog10_pval_MID',
 'low_confidence_AFR',
 'low_confidence_AMR',
 'low_confidence_CSA',
 'low_confidence_EAS',
 'low_confidence_EUR',
 'low_confidence_MID']

In [11]:
cols_to_keep

['chr',
 'pos',
 'ref',
 'alt',
 'neglog10_pval_heterogeneity_hq',
 'neglog10_pval_heterogeneity',
 'af_cases_EUR',
 'af_controls_EUR',
 'beta_EUR',
 'se_EUR',
 'neglog10_pval_EUR',
 'low_confidence_EUR']

In [12]:
chunks = pd.read_csv(gwas_path, names = cols,header=0,dtype=dtype, sep='\t', chunksize = 100000)
filtered_chunks = []
i = 0
for chunk in chunks:
    filtered_chunks.append(chunk[cols_to_keep])
    i+=1
    print(f"Chunk {i} finished")

Chunk 1 finished
Chunk 2 finished
Chunk 3 finished
Chunk 4 finished
Chunk 5 finished
Chunk 6 finished
Chunk 7 finished
Chunk 8 finished
Chunk 9 finished
Chunk 10 finished
Chunk 11 finished
Chunk 12 finished
Chunk 13 finished
Chunk 14 finished
Chunk 15 finished
Chunk 16 finished
Chunk 17 finished
Chunk 18 finished
Chunk 19 finished
Chunk 20 finished
Chunk 21 finished
Chunk 22 finished
Chunk 23 finished
Chunk 24 finished
Chunk 25 finished
Chunk 26 finished
Chunk 27 finished
Chunk 28 finished
Chunk 29 finished
Chunk 30 finished
Chunk 31 finished
Chunk 32 finished
Chunk 33 finished
Chunk 34 finished
Chunk 35 finished
Chunk 36 finished
Chunk 37 finished
Chunk 38 finished
Chunk 39 finished
Chunk 40 finished
Chunk 41 finished
Chunk 42 finished
Chunk 43 finished
Chunk 44 finished
Chunk 45 finished
Chunk 46 finished
Chunk 47 finished
Chunk 48 finished
Chunk 49 finished
Chunk 50 finished
Chunk 51 finished
Chunk 52 finished
Chunk 53 finished
Chunk 54 finished
Chunk 55 finished
Chunk 56 finished
Chunk 57 finished
Chunk 58 finished
Chunk 59 finished
Chunk 60 finished
Chunk 61 finished
Chunk 62 finished
Chunk 63 finished
Chunk 64 finished
Chunk 65 finished
Chunk 66 finished
Chunk 67 finished
Chunk 68 finished
Chunk 69 finished
Chunk 70 finished
Chunk 71 finished
Chunk 72 finished
Chunk 73 finished
Chunk 74 finished
Chunk 75 finished
Chunk 76 finished
Chunk 77 finished
Chunk 78 finished
Chunk 79 finished
Chunk 80 finished
Chunk 81 finished
Chunk 82 finished
Chunk 83 finished
Chunk 84 finished
Chunk 85 finished
Chunk 86 finished
Chunk 87 finished
Chunk 88 finished
Chunk 89 finished
Chunk 90 finished
Chunk 91 finished
Chunk 92 finished
Chunk 93 finished
Chunk 94 finished
Chunk 95 finished
Chunk 96 finished
Chunk 97 finished
Chunk 98 finished
Chunk 99 finished
Chunk 100 finished
Chunk 101 finished
Chunk 102 finished
Chunk 103 finished
Chunk 104 finished
Chunk 105 finished
Chunk 106 finished
Chunk 107 finished
Chunk 108 finished
Chunk 109 finished
Chunk 110 finished
Chunk 111 finished
Chunk 112 finished
Chunk 113 finished
Chunk 114 finished
Chunk 115 finished
Chunk 116 finished
Chunk 117 finished
Chunk 118 finished
Chunk 119 finished
Chunk 120 finished
Chunk 121 finished
Chunk 122 finished
Chunk 123 finished
Chunk 124 finished
Chunk 125 finished
Chunk 126 finished
Chunk 127 finished
Chunk 128 finished
Chunk 129 finished
Chunk 130 finished
Chunk 131 finished
Chunk 132 finished
Chunk 133 finished
Chunk 134 finished
Chunk 135 finished
Chunk 136 finished
Chunk 137 finished
Chunk 138 finished
Chunk 139 finished
Chunk 140 finished
Chunk 141 finished
Chunk 142 finished
Chunk 143 finished
Chunk 144 finished
Chunk 145 finished
Chunk 146 finished
Chunk 147 finished
Chunk 148 finished
Chunk 149 finished
Chunk 150 finished
Chunk 151 finished
Chunk 152 finished
Chunk 153 finished
Chunk 154 finished
Chunk 155 finished
Chunk 156 finished
Chunk 157 finished
Chunk 158 finished
Chunk 159 finished
Chunk 160 finished
Chunk 161 finished
Chunk 162 finished
Chunk 163 finished
Chunk 164 finished
Chunk 165 finished
Chunk 166 finished
Chunk 167 finished
Chunk 168 finished
Chunk 169 finished
Chunk 170 finished
Chunk 171 finished
Chunk 172 finished
Chunk 173 finished
Chunk 174 finished
Chunk 175 finished
Chunk 176 finished
Chunk 177 finished
Chunk 178 finished
Chunk 179 finished
Chunk 180 finished
Chunk 181 finished
Chunk 182 finished
Chunk 183 finished
Chunk 184 finished
Chunk 185 finished
Chunk 186 finished
Chunk 187 finished
Chunk 188 finished
Chunk 189 finished
Chunk 190 finished
Chunk 191 finished
Chunk 192 finished
Chunk 193 finished
Chunk 194 finished
Chunk 195 finished
Chunk 196 finished
Chunk 197 finished
Chunk 198 finished
Chunk 199 finished
Chunk 200 finished
Chunk 201 finished
Chunk 202 finished
Chunk 203 finished
Chunk 204 finished
Chunk 205 finished
Chunk 206 finished
Chunk 207 finished
Chunk 208 finished
Chunk 209 finished
Chunk 210 finished
Chunk 211 finished
Chunk 212 finished
Chunk 213 finished
Chunk 214 finished
Chunk 215 finished
Chunk 216 finished
Chunk 217 finished
Chunk 218 finished
Chunk 219 finished
Chunk 220 finished
Chunk 221 finished
Chunk 222 finished
Chunk 223 finished
Chunk 224 finished
Chunk 225 finished
Chunk 226 finished
Chunk 227 finished
Chunk 228 finished
Chunk 229 finished
Chunk 230 finished
Chunk 231 finished
Chunk 232 finished
Chunk 233 finished
Chunk 234 finished
Chunk 235 finished
Chunk 236 finished
Chunk 237 finished
Chunk 238 finished
Chunk 239 finished
Chunk 240 finished
Chunk 241 finished
Chunk 242 finished
Chunk 243 finished
Chunk 244 finished
Chunk 245 finished
Chunk 246 finished
Chunk 247 finished
Chunk 248 finished
Chunk 249 finished
Chunk 250 finished
Chunk 251 finished
Chunk 252 finished
Chunk 253 finished
Chunk 254 finished
Chunk 255 finished
Chunk 256 finished
Chunk 257 finished
Chunk 258 finished
Chunk 259 finished
Chunk 260 finished
Chunk 261 finished
Chunk 262 finished
Chunk 263 finished
Chunk 264 finished
Chunk 265 finished
Chunk 266 finished
Chunk 267 finished
Chunk 268 finished
Chunk 269 finished
Chunk 270 finished
Chunk 271 finished
Chunk 272 finished
Chunk 273 finished
Chunk 274 finished
Chunk 275 finished
Chunk 276 finished
Chunk 277 finished
Chunk 278 finished
Chunk 279 finished
Chunk 280 finished
Chunk 281 finished
Chunk 282 finished
Chunk 283 finished
Chunk 284 finished
Chunk 285 finished
Chunk 286 finished
Chunk 287 finished
Chunk 288 finished
Chunk 289 finished
Chunk 290 finished

In [13]:
df = pd.concat(filtered_chunks)

In [14]:
df

,chr,pos,ref,alt,neglog10_pval_heterogeneity_hq,neglog10_pval_heterogeneity,af_cases_EUR,af_controls_EUR,beta_EUR,se_EUR,neglog10_pval_EUR,low_confidence_EUR
0,1,11063,T,G,NaN,NaN,4.710e-05,4.804e-05,-2.786e-01,2.398e+00,4.215e-02,true
1,1,13259,G,A,NaN,NaN,3.456e-04,2.728e-04,2.167e-01,2.741e-01,3.674e-01,false
2,1,17641,G,A,NaN,NaN,7.423e-04,8.378e-04,-1.133e-01,1.654e-01,3.069e-01,false
3,1,30741,C,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,51427,T,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
28987529,X,154929412,C,T,1.665e-01,3.624e-02,2.445e-01,2.460e-01,-7.155e-03,8.415e-03,4.032e-01,false
28987530,X,154929637,CT,C,1.130e-01,1.973e-02,2.297e-01,2.299e-01,-1.779e-03,8.788e-03,7.597e-02,false
28987531,X,154929952,CAA,C,8.668e-02,3.620e-02,2.386e-01,2.399e-01,-6.825e-03,8.852e-03,3.559e-01,false
28987532,X,154930230,A,G,1.412e-01,2.232e-02,2.449e-01,2.464e-01,-7.323e-03,8.413e-03,4.156e-01,false
28987533,X,154930487,T,A,5.172e-02,4.329e-01,1.956e-02,1.969e-02,-5.698e-03,2.877e-02,7.417e-02,false

In [15]:
# Target col names: rsid,chr,pos,a0,a1,beta,beta_se,N,p

In [16]:
def rename_pattern_ldpred2(df, df_types):
    rename_pattern = {'ref': 'a0',
                     'alt': 'a1',
                     'beta_EUR': 'beta',
                     'se_EUR': 'beta_se',
                     'neglog10_pval_EUR': 'p'}
    df.rename(columns = rename_pattern,inplace = True)
    df_types.rename(columns = rename_pattern, inplace = True)
    
def rename_pattern_prsice(df, df_types):
    rename_pattern = {'chr':'CHR',
                              'pos':'BP',
                              'ref': 'ref', #A2
                             'alt': 'alt', #A1
                             'beta_EUR': 'BETA',
                             'se_EUR': 'SE',
                             'neglog10_pval_EUR': 'P'}
    df.rename(columns = rename_pattern,inplace = True)
    df_types.rename(columns = rename_pattern, inplace = True)

In [17]:
rename_pattern_prsice(df, df_types)

In [18]:
#Sample size per variant = 361,194 (http://www.nealelab.is/uk-biobank/faq)

In [19]:
df['N'] = 361194
df_types['N'] = np.dtype(np.int64)

In [21]:
df = df[['CHR','BP','ref','alt','BETA','SE','P']]
#df = df[['chr','pos', 'a0', 'a1', 'beta', 'beta_se','N', 'p']]

In [22]:
df

         CHR         BP  ref alt        BETA         SE          P
0          1      11063    T   G  -2.786e-01  2.398e+00  4.215e-02
1          1      13259    G   A   2.167e-01  2.741e-01  3.674e-01
2          1      17641    G   A  -1.133e-01  1.654e-01  3.069e-01
3          1      30741    C   A         NaN        NaN        NaN
4          1      51427    T   G         NaN        NaN        NaN
...       ..        ...  ...  ..         ...        ...        ...
28987529   X  154929412    C   T  -7.155e-03  8.415e-03  4.032e-01
28987530   X  154929637   CT   C  -1.779e-03  8.788e-03  7.597e-02
28987531   X  154929952  CAA   C  -6.825e-03  8.852e-03  3.559e-01
28987532   X  154930230    A   G  -7.323e-03  8.413e-03  4.156e-01
28987533   X  154930487    T   A  -5.698e-03  2.877e-02  7.417e-02

[28987534 rows x 7 columns]

In [23]:
#Filter out non-snps

In [27]:
def filter_snps_ldpred2(df):
    df = df[df['a0'].str.len() == 1]
    df = df[df['a1'].str.len() == 1]
    df = df[df['chr']!='X']
    df.reset_index(drop=True, inplace=True)
    
    return df
    
def filter_snps_prsice(df):
    df = df[df['ref'].str.len() == 1]
    df = df[df['alt'].str.len() == 1]
    df = df[df['CHR']!='X']
    df = df[df['CHR']!='Y']
    df.reset_index(drop=True, inplace=True)
    
    return df

In [28]:
df = filter_snps_prsice(df)

In [29]:
df

         CHR        BP ref alt        BETA         SE          P
0          1     11063   T   G  -2.786e-01  2.398e+00  4.215e-02
1          1     13259   G   A   2.167e-01  2.741e-01  3.674e-01
2          1     17641   G   A  -1.133e-01  1.654e-01  3.069e-01
3          1     30741   C   A         NaN        NaN        NaN
4          1     51427   T   G         NaN        NaN        NaN
...       ..       ...  ..  ..         ...        ...        ...
26121212  22  51234199   T   C   1.042e+00  4.802e-01  1.523e+00
26121213  22  51237063   T   C   4.215e-03  1.027e-02  1.665e-01
26121214  22  51237215   C   T  -9.899e-02  2.012e-01  2.057e-01
26121215  22  51237712   G   A  -3.943e-03  2.052e-02  7.181e-02
26121216  22  51238349   T   C         NaN        NaN        NaN

[26121217 rows x 7 columns]

In [30]:
# Remove positions that are missing a beta, beta_se or p value

In [33]:
def filter_missing_vals_ldpred2(df):
    df = df[df['beta'].isna()==False]
    df.reset_index(drop=True, inplace=True)
    
    return df
    
def filter_missing_vals_prsice(df):
    df = df[df['BETA'].isna()==False]
    df.reset_index(drop=True, inplace=True)
    
    return df

In [34]:
df = filter_missing_vals_prsice(df)

In [35]:
mask = df['SE'].isna()==False
mask.value_counts()

True    21332589
Name: SE, dtype: int64

In [36]:
mask = df['P'].isna()==False
mask.value_counts()

True    21332589
Name: P, dtype: int64

In [ ]:
def remove_dups_prsice(df):
    df['unique_id'] = df['CHR']+df['BP']
    df['unique_id_counts'] = df['unique_id'].map(df['unique_id'].value_counts())
    df = df[df['unique_id_counts'] == 1]
    df.reset_index(drop=True, inplace=True)
    df.drop(columns = ['unique_id','unique_id_counts'], inplace=True)
    return df

In [ ]:
df = remove_dups_prsice(df)

In [62]:
def handle_sci_notation(df):
    df['BETA'] = df['BETA'].astype(float)
    df['SE'] = df['SE'].astype(float)
    df['P'] = df['P'].astype(float)
    return df

In [63]:
df = handle_sci_notation(df)

/var/folders/7s/_bh70s2n68zd14b4fsfcjcv00000gn/T/ipykernel_6903/7328024.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BETA'] = df['BETA'].astype(float)
/var/folders/7s/_bh70s2n68zd14b4fsfcjcv00000gn/T/ipykernel_6903/7328024.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SE'] = df['SE'].astype(float)
/var/folders/7s/_bh70s2n68zd14b4fsfcjcv00000gn/T/ipykernel_6903/7328024.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['P'] = df['P'].astype(float)

In [72]:
def remove_p_vals(df):
    #Remove p values greater than 1.0
    df = df[df['P'] <=1.0]
    df = df.reset_index(drop=True)
    return df

In [73]:
df = remove_p_vals(df)

In [74]:
#Recast types
#for col in df.columns:
    #df[col].astype(df_types[col].values[0])

In [65]:
df.head(3)

  CHR     BP ref alt    BETA      SE        P
0   1  11063   T   G -0.2786  2.3980  0.04215
1   1  13259   G   A  0.2167  0.2741  0.36740
2   1  17641   G   A -0.1133  0.1654  0.30690

In [76]:
def write_gwas(df, condition_name, outdir):
    filename = 'UKB_GWAS_SumStats_{}_processed.txt'.format(condition_name)
    outpath = os.path.join(outdir,filename)
    df.to_csv(outpath,sep='\t', index=False)

In [77]:
outdir = '/Users/jerenolsen/Desktop/GWAS_Summary_Stats'
condition_name = 'GERD'
write_gwas(df, condition_name, outdir)

   CHR      BP ref alt      BETA       SE         P
0    1   11063   T   G -0.278600  2.39800  0.042150
1    1   13259   G   A  0.216700  0.27410  0.367400
2    1   17641   G   A -0.113300  0.16540  0.306900
3    1   57222   T   C -0.015470  0.18450  0.030030
4    1   58396   T   C -0.181500  0.28130  0.285000
5    1   63668   G   A -1.506000  0.94350  0.956800
6    1   69569   T   C  0.224000  0.33640  0.296300
7    1   79192   T   G -0.436400  0.48610  0.432600
8    1   91588   G   A  0.164200  0.34550  0.197500
9    1  533573   G   A -0.101400  0.17420  0.251500
10   1  541944   T   C  0.043050  0.24020  0.066630
11   1  542210   C   T -0.532200  0.40250  0.730300
12   1  565148   T   C  0.581500  0.40250  0.828200
13   1  565169   T   C -0.177800  0.36840  0.201100
14   1  566012   C   A  0.047480  0.40670  0.042360
15   1  570578   T   G  0.132600  0.21180  0.274600
16   1  610420   G   A -1.506000  0.94350  0.956800
17   1  668332   T   C  0.292800  0.47040  0.272700
18   1  672798   G   A  0.457800  1.13400  0.163400
19   1  691545   A   T -1.147000  1.12800  0.510100
20   1  693731   A   G -0.001704  0.01446  0.042760
21   1  706425   C   T  0.163500  0.47470  0.136400
22   1  706992   C   T  0.594300  1.35000  0.180600
23   1  707014   A   C  0.362300  1.36400  0.102100
24   1  707522   G   C -0.009299  0.01628  0.245800
25   1  713698   C   T -1.355000  1.07800  0.679800
26   1  713979   C   G -0.033270  0.32380  0.037080
27   1  714596   T   C  0.007869  0.02744  0.111100
28   1  714856   G   A  0.211500  0.27410  0.356200
29   1  715265   C   T  0.009588  0.02492  0.154600
30   1  715367   A   G  0.007773  0.02483  0.122500
31   1  715925   G   A  0.212800  0.45200  0.195300
32   1  717485   C   A  0.007194  0.02501  0.111500
33   1  717587   G   A -0.005741  0.03867  0.054550
34   1  720026   C   T  1.253000  0.89200  0.795200
35   1  720381   G   T  0.007670  0.02474  0.121200
36   1  721290   G   C  0.009746  0.02465  0.159500
37   1  722519   A   G  0.084560  1.29300  0.023260
38   1  723329   A   T  0.027170  0.11310  0.091390
39   1  723891   G   C -0.002069  0.02393  0.031000
40   1  726794   C   G  0.004556  0.02481  0.068380
41   1  728681   A   G  1.171000  0.77380  0.885400
42   1  729632   C   T  0.004876  0.02458  0.074280
43   1  729679   C   G  0.004504  0.01259  0.142300
44   1  730087   T   C -0.022250  0.02016  0.569100
45   1  731718   T   C -0.005930  0.01372  0.176800
46   1  731959   G   A -0.170400  0.36940  0.190700
47   1  732030   C   G -1.143000  1.08200  0.536700
48   1  732032   A   C -0.003873  0.01464  0.101600
49   1  732049   A   G  1.237000  0.76090  0.983100
50   1  733652   G   A -1.141000  1.07800  0.537800
51   1  733895   A   G  1.034000  0.74060  0.788200
52   1  734332   A   G  0.917800  0.72490  0.687200
53   1  734338   G   C  1.335000  0.77410  1.072000
54   1  734349   T   C -0.005461  0.01373  0.160700
55   1  734914   T   A  0.151900  0.50200  0.117900
56   1  735267   T   C  1.015000  0.74570  0.761300
57   1  736289   T   A -0.007197  0.01353  0.225600
58   1  736736   A   G -0.007425  0.02572  0.111900
59   1  736840   T   A -0.001088  1.29200  0.000292

In [75]:
df

         CHR        BP ref alt      BETA       SE         P
0          1     11063   T   G -0.278600  2.39800  0.042150
1          1     13259   G   A  0.216700  0.27410  0.367400
2          1     17641   G   A -0.113300  0.16540  0.306900
3          1     57222   T   C -0.015470  0.18450  0.030030
4          1     58396   T   C -0.181500  0.28130  0.285000
...       ..       ...  ..  ..       ...      ...       ...
18915576  22  51230139   T   G -0.044080  0.21740  0.076060
18915577  22  51231220   A   G  0.000074  0.02069  0.001249
18915578  22  51237063   T   C  0.004215  0.01027  0.166500
18915579  22  51237215   C   T -0.098990  0.20120  0.205700
18915580  22  51237712   G   A -0.003943  0.02052  0.071810

[18915581 rows x 7 columns]

In [78]:
manifest = '/Users/jerenolsen/Desktop/GWAS_Summary_Stats/phenotype_manifest.tsv'

In [89]:
dfm = pd.read_csv(manifest, sep = '\t', header=0)

In [90]:
dfm

,trait_type,phenocode,pheno_sex,coding,modifier,description,description_more,coding_description,category,n_cases_full_cohort_both_sexes,...,phenotype_qc_MID,in_max_independent_set,filename,filename_tabix,aws_path,aws_path_tabix,md5_hex,size_in_bytes,md5_hex_tabix,size_in_bytes_tabix
0,biomarkers,30600,both_sexes,NaN,irnt,Albumin,NaN,NaN,Biological samples > Assay results > Blood ass...,385205,...,h2_z_insignificant,True,biomarkers-30600-both_sexes-irnt.tsv.bgz,biomarkers-30600-both_sexes-irnt.tsv.bgz.tbi,s3://pan-ukb-us-east-1/sumstats_flat_files/bio...,s3://pan-ukb-us-east-1/sumstats_flat_files_tab...,b656fcf77aea5019197489593bcc2954,2282017915,daa278e77542009a259c2382da9c0e1e,2242763
1,biomarkers,30610,both_sexes,NaN,irnt,Alkaline phosphatase,NaN,NaN,Biological samples > Assay results > Blood ass...,420633,...,PASS,True,biomarkers-30610-both_sexes-irnt.tsv.bgz,biomarkers-30610-both_sexes-irnt.tsv.bgz.tbi,s3://pan-ukb-us-east-1/sumstats_flat_files/bio...,s3://pan-ukb-us-east-1/sumstats_flat_files_tab...,13dfceb4d5afb796a7150bb3dfe21383,2300660491,a5cb98c15b84c3620f064addf1ba847b,2237400
2,biomarkers,30620,both_sexes,NaN,irnt,Alanine aminotransferase,NaN,NaN,Biological samples > Assay results > Blood ass...,420449,...,h2_z_insignificant,True,biomarkers-30620-both_sexes-irnt.tsv.bgz,biomarkers-30620-both_sexes-irnt.tsv.bgz.tbi,s3://pan-ukb-us-east-1/sumstats_flat_files/bio...,s3://pan-ukb-us-east-1/sumstats_flat_files_tab...,cbae883df0188bbef297b69b5c52cdd0,2287738484,ef5b5fbb24bb48cd8f2c5e3f79ec2437,2243350
3,biomarkers,30630,both_sexes,NaN,irnt,Apolipoprotein A,NaN,NaN,Biological samples > Assay results > Blood ass...,382929,...,PASS,True,biomarkers-30630-both_sexes-irnt.tsv.bgz,biomarkers-30630-both_sexes-irnt.tsv.bgz.tbi,s3://pan-ukb-us-east-1/sumstats_flat_files/bio...,s3://pan-ukb-us-east-1/sumstats_flat_files_tab...,6146cc6808d00eaa67cbe0405ff74a31,2292154115,b9d7d3f278123c43fc14c527b570d66e,2236284
4,biomarkers,30640,both_sexes,NaN,irnt,Apolipoprotein B,NaN,NaN,Biological samples > Assay results > Blood ass...,418505,...,h2_z_insignificant,True,biomarkers-30640-both_sexes-irnt.tsv.bgz,biomarkers-30640-both_sexes-irnt.tsv.bgz.tbi,s3://pan-ukb-us-east-1/sumstats_flat_files/bio...,s3://pan-ukb-us-east-1/sumstats_flat_files_tab...,1d67087ee0ed01f55de8b4f57e06701d,2287356987,d857494f8bb5d0a90e2ee6c771ab36a2,2236257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7223,prescriptions,warfarin,both_sexes,NaN,NaN,NaN,NaN,NaN,"anti-coagulant,vitamin K epoxide reductase inh...",6816,...,NaN,False,prescriptions-warfarin-both_sexes.tsv.bgz,prescriptions-warfarin-both_sexes.tsv.bgz.tbi,s3://pan-ukb-us-east-1/sumstats_flat_files/pre...,s3://pan-ukb-us-east-1/sumstats_flat_files_tab...,d798740a0c4291e95d0f24f90debc6ae,1128165509,f6fd7e307bdcfd6cfb6b1ead9d7b2196,1933250
7224,prescriptions,xanthine oxidase inhibitor|anti-gout agent,both_sexes,NaN,NaN,NaN,NaN,NaN,NaN,4866,...,NaN,False,prescriptions-xanthine_oxidase_inhibitor|anti-...,prescriptions-xanthine_oxidase_inhibitor|anti-...,s3://pan-ukb-us-east-1/sumstats_flat_files/pre...,s3://pan-ukb-us-east-1/sumstats_flat_files_tab...,b7999c7c3281499061f25b97444aafd6,1125187852,04436eea1ab806908e17b9fdcf5baab4,1931793
7225,prescriptions,zolmitriptan,both_sexes,NaN,NaN,NaN,NaN,NaN,"triptan,selective serotonin receptor agonist,a...",826,...,NaN,False,prescriptions-zolmitriptan-both_sexes.tsv.bgz,prescriptions-zolmitriptan-both_sexes.tsv.bgz.tbi,s3://pan-ukb-us-east-1/sumstats_flat_files/pre...,s3://pan-ukb-us-east-1/sumstats_flat_files_tab...,43ab1a6dbc053f1111f36ae8ec5b2713,536718823,57c073c458d5a5d10d22b3b8a6ee65a3,1750638
7226,prescriptions,zolpidem,both_sexes,NaN,NaN,NaN,NaN,NaN,"GABA agonist,sedative",1844,...,NaN,False,prescriptions-zolpidem-both_sexes.tsv.bgz,prescriptions-zolpidem-both_sexes.tsv.bgz.tbi,s3://pan-ukb-us-east-1/sumstats_flat_files/pre...,s3://pan-ukb-us-east-1/sumstats_flat_files_tab...,280c27db933945f56b45d4f4cb5c1704,1081359729,27bcaf4eb51a47a422182c3b2cfa7de9,1924136
7227,prescriptions,zopiclone,both_sexes,NaN,NaN,NaN,NaN,NaN,"GABA agonist,sedative",15006,...,h2_z_insignificant,False,prescriptions-zopiclone-both_sexes.tsv.bgz,prescriptions-zopiclone-both_sexes.tsv.bgz.tbi,s3://pan-ukb-us-east-1/sumstats_flat_files/pre...,s3://pan-ukb-us-east-1/sumstats_flat_files_tab...,78e08e1f18d5896f4a36a43050c2dbd7,2361363564,65a934052f7b4a1cb90e6616c979c31c,2265004

In [91]:
dfm = dfm[dfm['coding'] == '1138']

In [92]:
dfm

,trait_type,phenocode,pheno_sex,coding,modifier,description,description_more,coding_description,category,n_cases_full_cohort_both_sexes,...,phenotype_qc_MID,in_max_independent_set,filename,filename_tabix,aws_path,aws_path_tabix,md5_hex,size_in_bytes,md5_hex_tabix,size_in_bytes_tabix
217,categorical,20002,both_sexes,1138,NaN,"Non-cancer illness code, self-reported",Code for non-cancer illness. If the participan...,gastro-oesophageal reflux (gord) / gastric reflux,UK Biobank Assessment Centre > Verbal intervie...,18680,...,h2_z_insignificant,False,categorical-20002-both_sexes-1138.tsv.bgz,categorical-20002-both_sexes-1138.tsv.bgz.tbi,s3://pan-ukb-us-east-1/sumstats_flat_files/cat...,s3://pan-ukb-us-east-1/sumstats_flat_files_tab...,dab7574653c40350988fb141e01fa6d9,2126787959,5b1333afcd15385ac9eae1cc66aa28ed,2189906

In [94]:
for item in dfm:
    print(item,dfm[item],'\n')

trait_type 217    categorical
Name: trait_type, dtype: object

phenocode 217    20002
Name: phenocode, dtype: object

pheno_sex 217    both_sexes
Name: pheno_sex, dtype: object

coding 217    1138
Name: coding, dtype: object

modifier 217    NaN
Name: modifier, dtype: object

description 217    Non-cancer illness code, self-reported
Name: description, dtype: object

description_more 217    Code for non-cancer illness. If the participan...
Name: description_more, dtype: object

coding_description 217    gastro-oesophageal reflux (gord) / gastric reflux
Name: coding_description, dtype: object

category 217    UK Biobank Assessment Centre > Verbal intervie...
Name: category, dtype: object

n_cases_full_cohort_both_sexes 217    18680
Name: n_cases_full_cohort_both_sexes, dtype: int64

n_cases_full_cohort_females 217    9779
Name: n_cases_full_cohort_females, dtype: int64

n_cases_full_cohort_males 217    8899
Name: n_cases_full_cohort_males, dtype: int64

n_cases_hq_cohort_both_sexes 217   NaN
Name: n_cases_hq_cohort_both_sexes, dtype: float64

n_cases_hq_cohort_females 217   NaN
Name: n_cases_hq_cohort_females, dtype: float64

n_cases_hq_cohort_males 217   NaN
Name: n_cases_hq_cohort_males, dtype: float64

pops 217    AFR,CSA,EAS,EUR,MID
Name: pops, dtype: object

num_pops 217    5
Name: num_pops, dtype: int64

pops_pass_qc 217    NaN
Name: pops_pass_qc, dtype: object

num_pops_pass_qc 217    0
Name: num_pops_pass_qc, dtype: int64

n_cases_AFR 217    175.0
Name: n_cases_AFR, dtype: float64

n_cases_AMR 217   NaN
Name: n_cases_AMR, dtype: float64

n_cases_CSA 217    376.0
Name: n_cases_CSA, dtype: float64

n_cases_EAS 217    60.0
Name: n_cases_EAS, dtype: float64

n_cases_EUR 217    17994.0
Name: n_cases_EUR, dtype: float64

n_cases_MID 217    75.0
Name: n_cases_MID, dtype: float64

n_controls_AFR 217    6449.0
Name: n_controls_AFR, dtype: float64

n_controls_AMR 217   NaN
Name: n_controls_AMR, dtype: float64

n_controls_CSA 217    8473.0
Name: n_controls_CSA, dtype: float64

n_controls_EAS 217    2647.0
Name: n_controls_EAS, dtype: float64

n_controls_EUR 217    402479.0
Name: n_controls_EUR, dtype: float64

n_controls_MID 217    1520.0
Name: n_controls_MID, dtype: float64

rhemc_25bin_50rv_h2_observed_AFR 217    0.22722
Name: rhemc_25bin_50rv_h2_observed_AFR, dtype: float64

rhemc_25bin_50rv_h2_observed_AMR 217   NaN
Name: rhemc_25bin_50rv_h2_observed_AMR, dtype: float64

rhemc_25bin_50rv_h2_observed_CSA 217    0.1251
Name: rhemc_25bin_50rv_h2_observed_CSA, dtype: float64

rhemc_25bin_50rv_h2_observed_EAS 217    0.29597
Name: rhemc_25bin_50rv_h2_observed_EAS, dtype: float64

sldsc_25bin_h2_observed_EUR 217    0.0137
Name: sldsc_25bin_h2_observed_EUR, dtype: float64

rhemc_25bin_50rv_h2_observed_MID 217    0.40986
Name: rhemc_25bin_50rv_h2_observed_MID, dtype: float64

rhemc_25bin_50rv_h2_observed_se_AFR 217    0.083511
Name: rhemc_25bin_50rv_h2_observed_se_AFR, dtype: float64

rhemc_25bin_50rv_h2_observed_se_AMR 217   NaN
Name: rhemc_25bin_50rv_h2_observed_se_AMR, dtype: float64

rhemc_25bin_50rv_h2_observed_se_CSA 217    0.039337
Name: rhemc_25bin_50rv_h2_observed_se_CSA, dtype: float64

rhemc_25bin_50rv_h2_observed_se_EAS 217    0.10434
Name: rhemc_25bin_50rv_h2_observed_se_EAS, dtype: float64

sldsc_25bin_h2_observed_se_EUR 217    0.0027
Name: sldsc_25bin_h2_observed_se_EUR, dtype: float64

rhemc_25bin_50rv_h2_observed_se_MID 217    0.13453
Name: rhemc_25bin_50rv_h2_observed_se_MID, dtype: float64

rhemc_25bin_50rv_h2_liability_AFR 217    1.5599
Name: rhemc_25bin_50rv_h2_liability_AFR, dtype: float64

rhemc_25bin_50rv_h2_liability_AMR 217   NaN
Name: rhemc_25bin_50rv_h2_liability_AMR, dtype: float64

rhemc_25bin_50rv_h2_liability_CSA 217    0.62146
Name: rhemc_25bin_50rv_h2_liability_CSA, dtype: float64

rhemc_25bin_50rv_h2_liability_EAS 217    2.2994
Name: rhemc_25bin_50rv_h2_liability_EAS, dtype: float64

sldsc_25bin_h2_liability_EUR 217    0.067737
Name: sldsc_25bin_h2_liability_EUR, dtype: float64

rhemc_25bin_50rv_h2_liability_MID 217    1.9048
Name: rhemc_25bin_50rv_h2_liability_MID, dtype: float64

rhemc_25bin_50rv_h2_liability_se_AFR 217    0.57332
Name: rhemc_25bin_50rv_h2_liability_se_AFR, dtype: float64

rhemc_25bin_50rv_h2_liability_se_AMR 217   NaN
Name: rhemc_25bin_50rv_h2_liability_se_AMR, dtype: float64

rhemc_25bin_50rv_h2_liability_se_CSA 217    0.19541
Name: rhemc_25bin_50rv_h2_liability_se_CSA, dtype: float64

rhemc_25bin_50rv_h2_liability_se_EAS 217    0.81066
Name: rhemc_25bin_50rv_h2_liability_se_EAS, dtype: float64

sldsc_25bin_h2_liability_se_EUR 217    0.01335
Name: sldsc_25bin_h2_liability_se_EUR, dtype: float64

rhemc_25bin_50rv_h2_liability_se_MID 217    0.6252
Name: rhemc_25bin_50rv_h2_liability_se_MID, dtype: float64

rhemc_25bin_50rv_h2_z_AFR 217    2.7209
Name: rhemc_25bin_50rv_h2_z_AFR, dtype: float64

rhemc_25bin_50rv_h2_z_AMR 217   NaN
Name: rhemc_25bin_50rv_h2_z_AMR, dtype: float64

rhemc_25bin_50rv_h2_z_CSA 217    3.1803
Name: rhemc_25bin_50rv_h2_z_CSA, dtype: float64

rhemc_25bin_50rv_h2_z_EAS 217    2.8365
Name: rhemc_25bin_50rv_h2_z_EAS, dtype: float64

sldsc_25bin_h2_z_EUR 217    5.0741
Name: sldsc_25bin_h2_z_EUR, dtype: float64

rhemc_25bin_50rv_h2_z_MID 217    3.0467
Name: rhemc_25bin_50rv_h2_z_MID, dtype: float64

lambda_gc_AFR 217    1.0162
Name: lambda_gc_AFR, dtype: float64

lambda_gc_AMR 217   NaN
Name: lambda_gc_AMR, dtype: float64

lambda_gc_CSA 217    0.99072
Name: lambda_gc_CSA, dtype: float64

lambda_gc_EAS 217    0.99973
Name: lambda_gc_EAS, dtype: float64

lambda_gc_EUR 217    1.0465
Name: lambda_gc_EUR, dtype: float64

lambda_gc_MID 217    1.0489
Name: lambda_gc_MID, dtype: float64

phenotype_qc_AFR 217    h2_z_insignificant
Name: phenotype_qc_AFR, dtype: object

phenotype_qc_AMR 217    NaN
Name: phenotype_qc_AMR, dtype: object

phenotype_qc_CSA 217    h2_z_insignificant
Name: phenotype_qc_CSA, dtype: object

phenotype_qc_EAS 217    h2_z_insignificant
Name: phenotype_qc_EAS, dtype: object

phenotype_qc_EUR 217    not_EUR_plus_1
Name: phenotype_qc_EUR, dtype: object

phenotype_qc_MID 217    h2_z_insignificant
Name: phenotype_qc_MID, dtype: object

in_max_independent_set 217    False
Name: in_max_independent_set, dtype: bool

filename 217    categorical-20002-both_sexes-1138.tsv.bgz
Name: filename, dtype: object

filename_tabix 217    categorical-20002-both_sexes-1138.tsv.bgz.tbi
Name: filename_tabix, dtype: object

aws_path 217    s3://pan-ukb-us-east-1/sumstats_flat_files/cat...
Name: aws_path, dtype: object

aws_path_tabix 217    s3://pan-ukb-us-east-1/sumstats_flat_files_tab...
Name: aws_path_tabix, dtype: object

md5_hex 217    dab7574653c40350988fb141e01fa6d9
Name: md5_hex, dtype: object

size_in_bytes 217    2126787959
Name: size_in_bytes, dtype: int64

md5_hex_tabix 217    5b1333afcd15385ac9eae1cc66aa28ed
Name: md5_hex_tabix, dtype: object

size_in_bytes_tabix 217    2189906
Name: size_in_bytes_tabix, dtype: int64